/*Make "item1" start on row 2 column 1, and span 2 rows and 3 columns:*/

/*The syntax is grid-row-start / grid-column-start / grid-row-end / grid-column-end.*/

/* Item1 will start on row 2 and column 1, and span 2 rows and 3 columns:*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-area: 2 / 1 /  span 2 /  span 3;
}
