/*Use the grid-auto-columns property to set a default size (width) for all columns.*/

/* Set the size to 50 pixels per column:*/
/*Note: The grid-template-columns property overrides this property.*/
/*This property affects only columns with the size not set.*/
.item1 { grid-area: 1 / 1 /  2 / 2; }
.item2 { grid-area: 1 / 2 / 2 / 3; }
.item3 { grid-area: 1 / 3 / 2 / 4; }
.item4 { grid-area: 2 / 1 / 3 / 2; }
.item5 { grid-area: 2 / 2 / 3 / 3; }
.item6 { grid-area: 2 / 3 / 3 / 4; }

.grid-container {
    display: grid;
    grid-auto-columns: 50px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
